
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Vistaram Hotels Management Suite</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	
<script type="text/javascript">

	$(document).ready(function() {
    
    	$('#bookings_load').click(function(event){
    		//alert('Bookings');
    		$.get("bookings/today",
			    function(dataSet, status){
			        //alert("Data: " + dataSet + "\nStatus: " + status);
			        $("#bookings-table").empty();
			        $('#bookings-table').DataTable({
			        	data : dataSet,
			        	destroy: true,
			        	deferRender: true,
			        	columnDefs:[
			        	 	{ title: "Booking Id",   targets: 0 },
						    { title: "Guest Name",  targets: 1 },
						    { title: "Hotel", targets: 2 },
						    { title: "Booking Date", targets: 3 },
						    { title: "Checkin Date", targets: 4 },
						    { title: "Checkout Date", targets: 5 },
						    { title: "roomType", targets: 6 },
					        { title: "noOfRooms", targets: 7 },
					        { title: "noOfNights", targets: 8 },
						    { title: "Rate Plan", targets: 9},
						    { title: "Booking Type", targets: 10 },
						    { title: "Payment Type", targets: 11 },
						    { title: "Total Tax",    targets: 12 },
						    { title: "Total Discount",    targets: 13 },
						    { title: "Total Amount",    targets: 14 },
						    { title: "Booking Agent", targets: 15 },
						    { title: "Source",    targets: 16 }
			        	 ],
			        	 columns: [
			     
					            { data : "voucherNumber" },
						        { data: "guestName" },
						        { data: "hotelAndCity" },
						        { data: "bookingDateString" },
						        { data: "checkInDate" },
						        { data: "checkOutDate" },
						        { data: "roomType" },
						        { data: "noOfRooms" },
						        { data: "noOfNights" },
						        { data: "ratePlan" },
						        { data: "bookingType" },
						        { data: "paymentType" },
						        { data: "totalTax" },
						        { data: "totalDiscount" },
						        { data: "totalAmountPayable" },
						        { data: "bookingAgent" },
						        { data: "source" }
					        ]
			        });
			    }
		    );
		});
		
		$('#checkins_load').click(function(event){
    		//alert('Bookings');
    		$.get("checkins/today",
			    function(dataSet, status){
			        //alert("Data: " + dataSet + "\nStatus: " + status);
			        $("#bookings-table").empty();
			       var table = $('#bookings-table').DataTable({
			        	data : dataSet,
			        	destroy: true,
			        	deferRender: true,
			        	columnDefs:[
			        	 	{ title: "Booking Id",   targets: 0 },
						    { title: "Guest Name",  targets: 1 },
						    { title: "Booking Date", targets: 2 },
						    { title: "Checkin Date", targets: 3 },
						    { title: "Checkout Date", targets: 4 },
						    { title: "roomType", targets: 5 },
					        { title: "noOfRooms", targets: 6 },
					        { title: "noOfNights", targets: 7 },
						    { title: "Payment Type", targets: 8 },
						    {title: "Voucher", targets: 9}
			        	 ],
			        	 columns: [
			     
					            { data : "voucherNumber" },
						        { data: "guestName" },
						        { data: "bookingDateString" },
						        { data: "checkInDate" },
						        { data: "checkOutDate" },
						        { data: "roomType" },
						        { data: "noOfRooms" },
						        { data: "noOfNights" },
						        { data: "paymentType" },
						        {
						          render: function (data, type, full, meta) { 
						        			return '<a href="download/' + full.voucherNumber+ '">"' + full.voucherNumber + '"</a>'; 
						        		  } 
						        }
					        ]
					        
			        });
			        
			        /*$('#bookings-table tbody').on( 'click', 'button', function (event) {
						alert('Voucher clicked')
			        	var data = table.row( $(this).parents('tr') ).data();
			        	var jsonData = JSON.stringify(data)
			        	 alert( jsonData );
			        	var voucher = data['voucherNumber'];
			        	var fileName = voucher+".pdf";
			        	 $("#dialog").dialog({
				                modal: true,
				                title: fileName,
				                width: 540,
				                height: 450,
				                buttons: {
				                    Close: function () {
				                        $(this).dialog('close');
				                    }
				                },
				                open: function () {  
				                   var object = "&lt;iframe src=&quot;/download/"+voucher+"&quot; allowTransparency=&quot;true&quot; frameborder=&quot;0&quot; scrolling=&quot;yes&quot; style=&quot;width:100%;&quot;  type= &quot;text/javascript&quot; &gt; &lt;p&gt;Your browser does not support iframes.&lt;/p&gt; &lt;/iframe&gt;";
				                    $("#dialog").html(object); 
				                }
				         });
			    	});*/
			    }
		    );
		});
		
		$('#checkouts_load').click(function(event){
    		//alert('Bookings');
    		$.get("checkouts/today",
			    function(dataSet, status){
			        //alert("Data: " + dataSet + "\nStatus: " + status);
			         $("#bookings-table").empty();
			        $('#bookings-table').DataTable({
			        	data : dataSet,
			        	destroy: true,
			        	deferRender: true,
			        	columnDefs:[
			        	 	{ title: "Booking Id",   targets: 0 },
						    { title: "Guest Name",  targets: 1 },
						    { title: "Booking Date", targets: 2 },
						    { title: "Checkin Date", targets: 3 },
						    { title: "Checkout Date", targets: 4 },
						    { title: "roomType", targets: 5 },
					        { title: "noOfRooms", targets: 6 },
					        { title: "noOfNights", targets: 7 },
						    { title: "Payment Type", targets: 8 }
			        	 ],
			        	 columns: [
			     
					            { data : "voucherNumber" },
						        { data: "guestName" },
						        { data: "bookingDateString" },
						        { data: "checkInDate" },
						        { data: "checkOutDate" },
						        { data: "roomType" },
						        { data: "noOfRooms" },
						        { data: "noOfNights" },
						        { data: "paymentType" }
					        ]
					
			        });
			    }
		    );
		});
		
		
	});

</script>
	
	<style>
			
			.heading {
				color:green;
			}
		
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12">
					<h2 class = "heading">Vistaram Hotels Management Suite</h2>
				</div>
				<div>
					Hello,<span sec:authentication="name">Bob</span>|<a th:href="@{/logout}">logout</a>
				</div>
				<div></div>
				<div class="col-md-12 btn-group">
				    <button id="bookings_load" type="button" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Bookings</button>
				    <button id="inventory_load" type="button" class="btn btn-warning">Inventory</button>
				    <button id="checkins_load" type="button" class="btn btn-danger">Checkins</button>
				    <button id="checkouts_load" type="button" class="btn btn-warning">Checkouts</button>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div id="dialog" style="display: none"></div>
				<div class="table-responsive"> 
  					<table id="bookings-table" class="table table-striped table-bordered">
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12" style="height: 5px; ">
					<p>&copy;Copyright 2016 Vistaram Software Solutions</p>
				</div>
			</div>
			
		</div>

	</div>

</body>
</html>