
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Vistaram Hotels Management Suite</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style>
			
			.heading {
				color:green;
			}
		
	</style>
	
	<style th:inline="text">
	    body{
	        background: url{[[@{/static/background.jpg}]]}
	                    no-repeat center center fixed;
	    }
	</style>
</head>
<body>
	<div class="container">
	  <h2>Vistaram Hotel Management Suite</h2>
	  <ul class="nav nav-pills">
	    <li class="active"><a data-toggle="pill" href="#bookings">Bookings</a></li>
	    <li><a data-toggle="pill" href="#inventory">Inventory</a></li>
	    <li><a data-toggle="pill" href="#checkins">Check Ins</a></li>
	    <li><a data-toggle="pill" href="#checkouts">Check Outs</a></li>
	  </ul>
	  
	  <div class="tab-content">
	    <div id="bookings" class="tab-pane fade in active">
	      <h3>Bookings</h3>
	      <p>Bookings is Under Construction</p>
	    </div>
	    <div id="inventory" class="tab-pane fade">
	      <h3>Inventory</h3>
	      <p>Inventory is Under Construction</p>
	    </div>
	    <div id="checkins" class="tab-pane fade">
	      <h3>Check Ins</h3>
	      <p>Check Ins is Under Construction</p>
	    </div>
	    <div id="checkouts" class="tab-pane fade">
	      <h3>Check Outs</h3>
	      <p>Check Outs is Under Construction</p>
	    </div>
	  </div>
	</div>
</body>
</html>